:root {
  --white: #ffffff;
  --blue: #0c21c1;
  --dark_blue: #000842;
  --gray: #999999;
  --white_gray: #b5b5b5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
